<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'accounts.css' %}">
</head>
<body>
    <div class="center">
        <center><h1>Leaf Now</h1></center><br>
        <form action="login"><button>Login</button></form><br>
        <form action="signup"><button>Sign Up</button></form>
    </div>
       
</body>
</html>