<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Info</title>
    {% load static %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <link rel="stylesheet" href="{% static 'contact.css' %}">
</head>
<body>
    <div class="container">
        <div class="contact-parent">
           <div class="contact-child child1">
              <p>
                 <i class="fas fa-map-marker-alt"></i> Address <br />
                 <span> Road no.2, Electronic City
                 <br />
                 Bangalore, Karnataka, India
                 </span>
              </p><br>
              <p>
                 <i class="fas fa-phone-alt"></i> Let's Talk <br />
                 <span>+91 9265467267</span>
              </p><br>
              <p>
                 <i class=" far fa-envelope"></i> General Support <br />
                 <span>Leafnowtech@gmail.com</span>
              </p>
           </div>
        </div>
     </div>    
</body>
</html>